body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: url(/skyblue.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    background: #090909;
    color: #fff;
    padding: 1rem 10px 0;
    text-align: right;
    margin-top: 0px;
    height: 100px;
    margin-bottom: 1px;

}



nav {
    height: 80px;

}

nav h3 {
    float: left;
    line-height: 50px;
    font-size: 20px;
    font-size: inline;
    color: #eb7620;
}

nav ul {
    float: right;
    line-height: 50px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #eb7620;
    transition: 0, 5s ease;
}

section {
    /* padding: 2rem; */
    text-align: center;
    margin-top: 0px;
    padding: 50px;
    padding-top: 100px;
}


#home {
    /* background: #ea7898; */
    color: #fcf7f7;
    background-image: url(/download\ \(1\).jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* font-size: 35px; */
    height: 500px;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    margin-top: 1rem;
    background: #a05819;
    color: #fff;
    text-decoration: none;

}

#about {
    text-align: left;

    width: 500px;
    display: inline-block;



}

#about img {
    position: static;
    right: 300px;
    width: 600px;
    text-align: right;
    margin-left: 600px;
    border-radius: 70px;
    display: inline-block;
    height: 200px;



}

.right img {
    padding: 30px 50px;
    width: 300px;

}

.left img {
    padding: 20px 50px;
    width: 300px;
    filter: invert(200%);

}




form {
    max-width: 600px;
    margin: 2rem auto;
    text-align: left;


}

form label {
    display: block;
    margin: 1rem 0 0.5rem;

}

form input,
form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

button {
    padding: 0.5rem 1rem;
    background: #05386b;
    color: #fff;
    border: none;
}

footer {
    background: #121010;
    color: red;
    text-align: center;
    padding: 1rem 0;
}